In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np
import matplotlib.pyplot as plt

In [46]:
df = pd.read_csv('insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [47]:
df["sex"].replace({"female": 1, "male": 0}, inplace=True)  # female=1.  male=0
df["smoker"].replace({"yes": 1,"no": 0}, inplace=True)
df["region"].replace({"southwest": 1,"southeast": 2, "northwest": 3, "northeast":4}, inplace=True)

In [52]:
df = np.array(df)

TypeError: only size-1 arrays can be converted to Python scalars

In [56]:
df = df.astype(int)
df = df.T
df

array([[   19,    18,    28, ...,    18,    21,    61],
       [    1,     0,     0, ...,     1,     1,     1],
       [   27,    33,    33, ...,    36,    25,    29],
       ...,
       [    1,     0,     0, ...,     0,     0,     1],
       [    1,     2,     2, ...,     2,     1,     3],
       [16884,  1725,  4449, ...,  1629,  2007, 29141]])

In [57]:
df = np.delete(df, 6, 0)
df

array([[19, 18, 28, ..., 18, 21, 61],
       [ 1,  0,  0, ...,  1,  1,  1],
       [27, 33, 33, ..., 36, 25, 29],
       [ 0,  1,  3, ...,  0,  0,  0],
       [ 1,  0,  0, ...,  0,  0,  1],
       [ 1,  2,  2, ...,  2,  1,  3]])

In [59]:
df = df.T

In [65]:
df

array([[19,  1, 27,  0,  1,  1],
       [18,  0, 33,  1,  0,  2],
       [28,  0, 33,  3,  0,  2],
       ...,
       [18,  1, 36,  0,  0,  2],
       [21,  1, 25,  0,  0,  1],
       [61,  1, 29,  0,  1,  3]])

In [60]:
df.shape

(1338, 6)

In [67]:
Y = pd.read_csv('insurance.csv')

In [68]:
Y = np.array(Y)
Y

array([[19, 'female', 27.9, ..., 'yes', 'southwest', 16884.924],
       [18, 'male', 33.77, ..., 'no', 'southeast', 1725.5523],
       [28, 'male', 33.0, ..., 'no', 'southeast', 4449.462],
       ...,
       [18, 'female', 36.85, ..., 'no', 'southeast', 1629.8335],
       [21, 'female', 25.8, ..., 'no', 'southwest', 2007.945],
       [61, 'female', 29.07, ..., 'yes', 'northwest', 29141.3603]],
      dtype=object)

In [69]:
Y = Y.T
Y

array([[19, 18, 28, ..., 18, 21, 61],
       ['female', 'male', 'male', ..., 'female', 'female', 'female'],
       [27.9, 33.77, 33.0, ..., 36.85, 25.8, 29.07],
       ...,
       ['yes', 'no', 'no', ..., 'no', 'no', 'yes'],
       ['southwest', 'southeast', 'southeast', ..., 'southeast',
        'southwest', 'northwest'],
       [16884.924, 1725.5523, 4449.462, ..., 1629.8335, 2007.945,
        29141.3603]], dtype=object)

In [75]:
Y = np.delete(Y, 0, 0)
Y

array([[16884.924, 1725.5523, 4449.462, ..., 1629.8335, 2007.945,
        29141.3603]], dtype=object)

In [76]:
Y = Y.T
Y.shape

(1338, 1)

In [77]:
Y.shape

(1338, 1)

In [78]:
# init model
model = LinearRegression()

# train model
model.fit(df, Y)

LinearRegression()

In [79]:
model.score(df, Y)

0.7507045849862366